.result-layout {
    height: 5000px;
    border: 10px solid red;
  }

.visible {
    /* display: flex; */
    top: 0;
    transition: top 0.4s ease-out;
  }
  
  .hidden {
    /* display: none; */
    top: -80px;
    transition: top 0.4s ease-out;
  }
  
header {
  /* background-color: gray; */
  top: 0;
  position: fixed;
  width: 100%;
}
.section1{
  display: flex;
}
