.chart-name {
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
/* identical to box height, or 20px */
color: #3955B4;
}

.chart-unit{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
/* identical to box height, or 14px */
color: #000000;

opacity: 0.5;

}

.chart-header{
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.chart-wrapper{
    width:100%;
}

.chart-note{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
/* identical to box height, or 14px */
color: #000000;

opacity: 0.5;
}

.chart-title-area{
    margin-bottom: 15px;
}

.donut-title{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
/* identical to box height, or 20px */
color: #3955B4;
margin-bottom:10px;
}
.donut-header{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;  
    color: #8F8F8F;
    
}