.table thead {
    color: #000;
    opacity: 0.3;
}

.table tr th {
    padding: 20px;
}

.table td {
    color: #000;

    text-align: center;
}

tbody td {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    padding: 10px;
}

table {
    border-collapse: collapse !important;
}
