:root {
    --bg-color: #eeeeee;
    /* --font-family: Noto-Sans; */
}

li {
    list-style: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 30px;
    margin-top: 90px;
}
