:root {
    --bg-color: #eeeeee;
    /* --font-family: Noto-Sans; */
}
#root {
    max-width: 900px;
    margin: 0 auto;
}
li {
    list-style: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 30px;
    margin-top: 90px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}
