.color-header {
    height: 50px;
    /* position: fixed; */
    /* top: 0px; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    box-sizing: border-box;
}

.logo-colored {
    width: 70px;
    height: 21px;
}

.color-previous-page-text {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #3955b4;
}
.colored-header-description {
    color: #3955b4;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
