.cover {
    background: url("../asset/Cover1.png");
    background-size: cover;
    height: 100vh;
}
.section-header {
    position: relative;
    top: 145px;
    width: 100%;
}

.section-title{
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-left: 16px;
    padding:16px;
    margin-bottom: 20px;


    color: white;
    
}

.section-list{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-left: 36px;
    
    color:white;
}

.section-list-item{
    margin-bottom: 12px;
}