.menu {
    display: flex;
    justify-content: space-evenly;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    max-width: 900px;
    box-sizing: border-box;
    color: #ffffff;
    margin-bottom: 10px;
}
